
<button (click)="toggleMenuVisibility()" class="btn" id = "boton-2">Reiniciar</button>
<script>
  function mostrarBoton() 
  {
    var botonOculto = document.getElementById("boton-2");
    botonOculto.style.display = "block";
  }
</script>
<section class="sidemenuContainer"
  [style.background-color]="menuBackgroundColor"
  [style.display]="isMenuVisible ? 'flex' : 'none'"
  [style.width]="menuWidth"
>
  <div class="item">
    <img src="https://cdn-icons-png.flaticon.com/128/2335/2335401.png" alt="" class="imagen">
    <p>{{ userName }}</p>
    <button (click)="toggleMenuVisibility()" class="btn" id="boton-1">Back</button>
  </div>

  <div class="item">
    <p><span>📅</span> Dashboard</p>
  </div>

  <div class="item">
    <p><span>👱‍♂️</span> Profile</p>
  </div>

  <div class="item">
    <button class="btn" (click)="changeMenuColor('#A9DCA3')">Change Color</button>
    <button class="btn" (click)="setSize()">Change Size</button>
  </div>
</section>